@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

/* fast section desigm start */




main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenar {
    background-color: #ffff;
    width: 870px;
    height: 679px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 10px;


}

.player_header {
    color: blue;
    font-size: 24px;
    margin-top: 3px;


}



.top_players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;


}

.player {
    display: flex;
    text-align: center;


}

.player img {
    height: 56px;
    width: 56px;
}

.player_name {
    margin-left: 16px;
    font-size: 18px;
}

.hr {
    border: 1px solid #D1D1D1;

}

/* fast section desigm start */


/* top bloge  style start  */
.bloges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;

}

.player_header {
    font-size: 20px;
}

.bloge {
    display: flex;


}

.thumbnair img {
    width: 177px;
    height: 117px;
}

.bloge_info {
    margin-left: 15px;
}

.bloge_athore a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}

.bloge_info p {
    color: grey;
}

/* top bloge  style end  */
/* 
cources style */
.course img {
    width: 224px;
    height: 104px;
}

.fa-star.fule {
    color: gold;
    font-size: 12px;
}

.fa-star-half-stroke {

    color: gray;
    font-size: 12px;

}

.cource_rating {
    display: flex;
}

.cource_rating p {
    margin-left: 10px;
}

.cource_duration {
    margin-left: 10px;
}

.cource_duration span {
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #FFE4E8;

}

.courses {
    display: flex;


}

.course {
    margin-left: 36px;
    background-color: #FFFFFF;
}